body{
    background-color: rgb(46, 40, 40);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 20px;
}
.part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}